/* General layout for the reservation page */
#reservation-lab-block {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f8f9fa;
    padding: 0px 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

/* For larger screens: two halves layout */
@media (min-width: 768px) {
    #reservation-lab-block {
        flex-direction: row; /* Display content in two halves */
        justify-content: space-between;
    }

    .left-half, .right-half {
        width: 48%;
    }

    .right-half {
        padding-top: 5%;
    }
}

/* Lab image styling */
.lab-image img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Calendar and timetables */
.calendar-block, .timetable-block, form {
    width: 100%;
    margin-top: 20px;
}

.calendar-block table, .timetable-block table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-block th, .calendar-block td, .timetable-block td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.selected {
    border: 2px solid #508e0d;
    background-color: #e6ffe6 !important;
    border-radius: 5px;
}

.selected-time {
    background-color: #e6ffe6 !important; 
}

.available-date {
    cursor: pointer;
    background-color: white;
}

.available-date:hover {
    background-color: #f0f8f0;  /* Hover effect */
}

.unavailable-date {
    background-color: darkgray;
    color: white;
    cursor: not-allowed;
}

.available-time {
    cursor: pointer;
}

.unavailable-time {
    background-color: darkgray;
    color: white;
    cursor: not-allowed;
}

/* Reserve button styling */
#back-button {
    background-color: #dfdada;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#back-button:hover {
    background-color: #bbb;
}

#reserve-button {
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: not-allowed;
}

#reserve-button.enabled {
    background-color: #508e0d;
    cursor: pointer;
}

#reserve-button.enabled:hover {
    background-color: #3d6b0b;
}


/* For mobile screens (less than 768px wide) */
@media (max-width: 767px) {
    #reservation-lab-block {
        flex-direction: column; /* Revert to the original stacked layout */
    }

    .left-half, .right-half {
        width: 100%;
    }

    .calendar-block th,
    .calendar-block td {
        padding: 5px;
        font-size: 14px;
    }

    .timetable-block td {
        width: 33.33%;
        font-size: 14px;
    }

    #reserve-button {
        width: 100%;
    }
}