
body{margin: 0;}
ul, ol {list-style: none; padding: 0;}
a {cursor: pointer; text-decoration: none;}
button {margin: 0; padding: 0; border: 0; font: inherit; background: transparent;cursor: pointer; outline: none;}
input {outline: none;}

body, ul, li, a, div, nav, h1, h2, h3, h4, span, p, address, footer, button {   font-family: Arial, Helvetica, sans-serif;  /*font-family: 'Nanum Gothic', 'sans-serif';*/}



#header {
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;                 
    align-items: center;           
    /*justify-content: space-between;*/
}

#header .header_logo img {
    height: 50px;                 
    margin-right: 20px;          
}

#logoTitle {
    font-size: 24px; 
    color: #595a5a;    
}


#login_wrapper{
    margin: 0 auto;
    width: 600px;
}

#login_wrapper .login{
    margin: 0 auto;
    padding: 50px 100px;
    text-align: left;
    width: 400px;
}

#login_wrapper .loginForm {
    padding:50px 100px;
    width:400px;
    text-align:left;
    border-bottom: 1px solid #ccc;
}

#login_wrapper .loginForm.lang { margin-bottom:10px;}

#login_wrapper .loginForm .loginBox {
    position:relative;
    padding:0 9px;
    border:1px solid #e0e0e0;
    border-radius:9px;
}

#login_wrapper .loginForm .inputText {
    position:relative;
    padding:0 0 0 42px;
    border-bottom:1px solid #e0e0e0;
}

#login_wrapper .loginForm .inputText + .inputText { border-bottom: 0; }

#login_wrapper .loginForm .inputText label {
    overflow:hidden;
    position:absolute;
    top:50%;
    left:4px;
    margin-top:-15px;
    width:30px;
    height:30px;
    /*background:url(../image/sp_login.png) no-repeat;*/
    text-indent:-9999px;
}

#login_wrapper .loginForm .inputText label[for="userID"] { background-position:0 0; }
#login_wrapper .loginForm .inputText label[for="userPW"] { background-position:0 -40px; }
#login_wrapper .loginForm .inputText input {
    float:left;
    border:0;
    width:186px;
    height:58px;
    font-size:16px;
    color:#333;
}
#login_wrapper .loginForm .inputText input::-webkit-input-placeholder { color:#999; }

#login_wrapper .loginForm .inputText input::-moz-placeholder { color:#999; }

#login_wrapper .loginForm .inputText input:-ms-input-placeholder { color:#999; }

#login_wrapper .loginForm .inputText input:-moz-placeholder { color:#999; }

#login_wrapper .loginForm .inputText .txt {
    display:block;
    float:left;
    width:25px;
    font-size:16px;
    line-height:58px;
    color:#363636;
    text-align:center;
}

#login_wrapper .loginForm .inputText .domain {
    display:block;
    float:left;
    margin-top:20px;
    width:120px;
    height:26px;
}

#login_wrapper .loginForm .inputText:after {
    content:'';
    display:table;
    clear:both;
}

#login_wrapper .loginForm .lang {
    padding:0 6px;
    margin: 0 0 10px 0;
}

#login_wrapper .loginForm .lang label {
    display:inline-block;
    margin-right:32px;
    padding-left:4px;
    font-size:16px;
    line-height:20px;
    color:#363636;
    vertical-align:top;
}

#login_wrapper .loginForm .loginBtn{
    width: 400px;
    line-height: 65px;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    border: 0;
    background-color: #508e0d;
    color: #fff;
}

#login_wrapper .loginForm .loginBtn:hover{background-color: #3d6b0b;}



.footerBtn {
    width: 600px;
    margin:0 auto;
}

.footerBtn .btnLink {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #636363;
}

.footerBtn .btnLink a{
  color: #69926a; 
  text-decoration: underline;
  font-weight: bold;
}
.footerBtn .btnLink a:hover{
  color: #3d6b0b; 
  text-decoration: underline;
}

.footerBtn .btnLink b{
  color: #333; 
}

.footerBtn .btnLink ul>li {
    display: inline-block;
}

.footerBtn .btnLink .banner{
    display: inline;
    /*float: left;*/
    overflow: hidden;
    display: inline-block;
    margin: 0 5px;
    padding: 0 4px;
    border: 1px solid #a9a9a9;
    min-width: 90px;
    font-size: 13px;
    line-height: 28px;
    color: #383838;
    vertical-align: top;
    text-align: center;
}

.footerBtn .btnLink .banner:hover{
    background-color: #eee;
}



@media (max-width: 600px){

  #header{
    margin: 25% 0 10% 0;
    width: 100%;
  }

  #login_wrapper{
    width: 100%;
  }

  #logoTitle{
    font-size: 20px;
    width: 50%;
  }

  #header .header_logo{
    text-align: center;
    margin: 0 auto;
    width: 70%;
  }

  #header .header_logo img{
    height: 50px;
    margin: 0 20px;
  }

  #login_wrapper .loginForm{
    margin: 0 auto;
    padding: 50px 0;
    width: 90%;
  }

  #login_wrapper .loginForm .loginBtn{
    width: 100%;
  }

  .footerBtn{
    width: 100%;
    margin: 0 auto;
    margin-top: 22px;
  }
  
  .footerBtn .btnLink {
    padding: 0px 20px;
  }

  .footerBtn .btnLink .banner{
    width: 155px;
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    float: none;
    line-height: 3;
    padding: 0;
  }
  
}